
body {
    background-color: #43BFC7;
    margin: auto;

}
h1 {
  margin: auto;
  padding: 20px;
  background: #1B979F;
  text-align: center;
}
#container {
  margin: 2em auto;
  max-width: 800px;
  padding: 2em 4em;
}
li {
   font-size: 1.5em;
   list-style: none;
   line-height: 1.5em;
   margin: auto ;
}

@media (max-width: 491px) {
  h3{
    font-size: 15px;
  }
  li {
    font-size: 20px;
  }
}
